---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
		<h1>Primera practica de Herramientas</h1>
		<h2>Descripción de la práctica</h2>
		<h3>Generar un conflict merge entre ramas</h3>
	</div>
</Layout>
