---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
		<h1>Cambio para hacer el conflict</h1>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs2zr6tKGEdeBUAAUUTcNTwDZG3J36Wm74J9mjHl1dJhJuXGtmP4u3XtF6dr-XCN9PPR_2z3sq2Dz5nIpNP4hH0PerDwR90jUTm98MZimw&s=10" alt="">

	</div>
</Layout>
